<html>

<head>
  <title></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
      let app = new Vue({
        el: '#app',
        data() {
          return {
            ownDevices: [],
            selectedUser: '',
            subUsers: [],
            subUserDevices: [],
          };
        },
        computed: {},
        mounted() {
          fetch('/app/api/v1/pyLDAP?param=/sub', {})
            .then((response) => {
              return response.text();
            })
            .then((data) => {
              if (data.length > 3) {
                this.subUsers = []
                data = data.split('), (')
                for (var idx in data)
                  this.subUsers.push(data[idx].split("cn=")[1].split(",")[0]);
              }
            })
            .catch((err) => {
              console.log("ERROR: ", err);
            });

          fetch("/api/v1/devices", {})
            .then((response) => {
              return response.json();
            })
            .then((jsonData) => {
              this.ownDevices = jsonData.devices;
              this.ownDevices.sort((a, b) => {
                return a.serial > b.serial ? 1 : -1;
              });
            })
            .catch((err) => {
              console.log("ERROR: ", err);
            });
        },
        methods: {
          userChange(user) {
            alert(`selectedUser: ${selectedUser}, user: ${user}`)
            fetch(`/app/api/v1/allowDevices/${user}`, {})
              .then((response) => {
                return response.json();
              })
              .then((jsonData) => {
                this.subUserDevices = jsonData.allowDevices;
              })
              .catch((err) => {
                console.log("ERROR: ", err);
              });
          },
          apply() {
            alert(1)
          }
        }
      });
    });

    function execScript(script, serial) {
      fetch(
          `http://${document.location.hostname}:3001/shell/${script}/${serial}`
        )
        .then(function (response) {
          return response;
        })
        .catch(function (err) {});
    }

  </script>
  <style>
    .el-row {
      margin-bottom: 20px;
    }

  </style>
</head>

<body>
  <div id="app">
    <el-row> </el-row>
    <el-row>
      <span class="demonstration">Users</span>
      <el-radio v-for="(item, index) in subUsers" v-model="selectedUser" :key="item" :label="item"
        @change="userChange(item)">
        {{item}}
      </el-radio>
    </el-row>
    <el-row>
      <span class="demonstration">Assign</span>
      <el-transfer filterable v-model="subUserDevices" :props="{key: 'serial', label: 'serial'}" :data="ownDevices"
        :titles="['inventory', 'allocation']">
      </el-transfer>
    </el-row>
    <el-row>
      <el-badge :value="subUserDevices.length" class="item" type="primary">
        <el-button size="small" @click="apply">Apply</el-button>
      </el-badge>
    </el-row>
  </div>
</body>

</html>
