<html>

<head>
  <title></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
      let app = new Vue({
        el: '#app',
        data() {
          return {
            ownDevices: [],
            selectedUser: undefined,
            subUsers: [],
            subUserDevices: [],
            account: "",
            password: "",
            allow: true,
            dialogVisible: false
          };
        },
        computed: {},
        mounted() {
          fetch('/app/api/v1/pyLDAP?param=/sub', {})
            .then((response) => {
              return response.text();
            })
            .then((data) => {
              if (data.length > 3) {
                this.subUsers = []
                data = data.split('), (')
                for (var idx in data)
                  this.subUsers.push(data[idx].split("cn=")[1].split(",")[0]);
              }
            })
            .catch((err) => {
              console.log("/app/api/v1/pyLDAP?param=/sub ERROR: ", err);
            });

          fetch("/api/v1/devices", {})
            .then((response) => {
              return response.json();
            })
            .then((jsonData) => {
              this.ownDevices = jsonData.devices;
              this.ownDevices.sort((a, b) => {
                return a.serial > b.serial ? 1 : -1;
              });
            })
            .catch((err) => {
              console.log("/api/v1/devices ERROR: ", err);
              alert("error: " + err)
            });
        },
        methods: {
          handleClose(done) {
            this.account = ""
            this.password = ""
            this.allow = true
            done();
          },
          userChange(user) {
            if (!user || user == undefined || user == '') {
              return
            }
            console.log(`selectedUser: ${this.selectedUser}, user: ${user}`)
            fetch(`/app/api/v1/allowDevices/${user}`, {})
              .then((response) => {
                return response.json();
              })
              .then((jsonData) => {
                this.subUserDevices = jsonData.allowDevices;
              })
              .catch((err) => {
                console.log("ERROR: ", err);
                alert("error: " + err)
              });
          },
          apply() {
            if (!this.selectedUser || this.selectedUser == undefined || this.selectedUser == '') {
              alert('please select User First!!!')
              return
            }
            fetch('/app/api/v1/allowDevices/update', {
                method: 'post',
                headers: {
                  'Accept': 'application/json, text/plain, */*',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  user: this.selectedUser,
                  allowDevices: this.subUserDevices
                })
              }).then(res => res.json())
              .then(res => {
                console.log(res)
                if (res.result == 0) {
                  alert("success")
                }
              }).catch((err) => {
                console.log("/app/api/v1/allowDevices/update ERROR: ", err);
                alert("error: " + err)
              });;
          }
        }
      });
    });

  </script>
  <style>
    .el-row {
      margin-bottom: 20px;
    }

  </style>
</head>

<body>
  <div id="app">
    <el-row>
      <el-button type="success" icon="el-icon-user" @click="dialogVisible = true">Add User</el-button>
    </el-row>
    <el-dialog title="Add User" :visible.sync="dialogVisible" width="30%" :before-close="handleClose">
      <el-row>
        <span>Account:</span>
        <el-input v-model="account" placeholder="ex: user@domain.com"></el-input>
      </el-row>
      <el-row>
        <span>Password:</span>
        <el-input v-model="password" placeholder="please enter password"></el-input>
      </el-row>
      <el-row>
        <span> Allow Add User / Allocate Devices</span>
        <el-switch v-model="allow" active-color="#13ce66" inactive-color="#ff4949">
        </el-switch>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
    <el-row>Assign Devices: </el-row>
    <el-row>
      <span class="demonstration">Agents</span>
      <el-radio v-for="(item, index) in subUsers" v-model="selectedUser" :key="item" :label="item" @change="userChange">
        {{item}}
      </el-radio>
    </el-row>
    <el-row>
      <span class="demonstration">Assign</span>
      <el-transfer filterable v-model="subUserDevices" :props="{key: 'serial', label: 'serial'}" :data="ownDevices"
        :titles="['inventory', 'allocation']">
      </el-transfer>
    </el-row>
    <el-row>
      <el-badge :value="subUserDevices.length" class="item" type="primary">
        <el-button size="small" @click="apply">Apply</el-button>
      </el-badge>
    </el-row>
  </div>
</body>

</html>
