.row
  .col-md-6
    div(ng-include='"control-panes/automation/store-account/store-account.pug"')
  .col-md-6
    div(ng-include='"control-panes/automation/device-settings/device-settings.pug"')
span.device-name-text {{ device.remoteConnectUrl }}
iframe(width='660', height='371', src='http://www.google.com')
